# Ignore node_modules in the root directory
node_modules

# Ignore node_modules in the server and client directories
server/node_modules
client/node_modules

# Ignore logs and temporary files
*.log
*.tmp

# Ignore local environment files
server/.env
server/.env.local
client/.env
client/.env.local

# Ignore build output
client/build
client/dist

# Ignore editor-specific files
.vscode
.idea

# Ignore other common unnecessary files
.DS_Store
Thumbs.db
client/src/hls/lambdas/.serverless